.header {
  min-height: 100vh;
  width: 100%;
  background-image: url(/src/images/Background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
/* nav img{
  width: 150px;
} */
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  font-family: Montserrat;
  list-style: none;
  display: inline-block;
  padding: 8px 9px;
  position: relative;
}
a.navbar-brand.text-uppercase {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff !important;
  padding-left: 90px;
  padding-top: 30px;
  font-size: bold;
  display: inline-block;
}
.text-uppercase {
  text-transform: uppercase;
  text-decoration: none;
}
.nav-links ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  margin: 1px;
}

a#signup {
  border: 2px solid #ffffff;
  padding: 10px 18px;
  border-radius: 40px;
  margin-right: 98px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #ff4e50;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  /* width: 100%; */
  background: #ff4e50;
  transition: 0.5s;
}

.content {
  font-family: Roboto;
  width: 90%;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.content h1 {
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ffffff;
}
.content p {
  margin: 15px 0 10px;
  font-size: 24px;
  color: #ffffff;
  font-weight: 300;
}
.partner-btn {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #ff4e50;
  padding: 12px 38px;
  font-size: 14px;
  background: #ff4e50;
  position: relative;
  border-radius: 40px;
  cursor: pointer;
  font-weight: 700;
  margin-top: 12px;
}
.partner-btn:hover {
  border: 1px solid #24a5c5;
  background: #24a5c5;
  transition: 0.5s;
}

.container {
  font-family: Montserrat;
}

/* work */
.work-layout {
  position: relative;
  font-family: Montserrat;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
}

.text-center {
  font-family: Montserrat;
  font-size: 22px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  color: #444444;
}

.work-title.text-center {
  font-size: 22px;
  font-weight: 700;
  color: #444444;
  text-align: center;
  /* margin: 30px 0px 34px; */
}

.work-container {
  display: flex;
  justify-content: center;
}

.work-item {
  position: relative;
  justify-content: space-between;
  /* height: 400px;
  width: 300px;
  padding: 10px 20px;
  margin: 10px; */
  /* margin-top: 16px; */
  /* flex-basis: 30%; */
  /* display: inline-block; */
}
img.work-item-step {
  /* width: 100%; */
  width: 300px;
  height: 400px;
  margin: 10px;
  /* opacity:0.7; */
}
.work-content {
  position: absolute;
  top: 100px;
  left: 20px;
  font-size: 14px;
  margin: 138px 15px 0px;
}
.work-content h2 {
  margin: 18px 0px 10px 0;
  font-size: 24px;
  color: #ffffff;
}
.work-content p {
  font-size: 14px;
  color: #e3e3e3;
  font-family: Roboto;
  font-weight: 300;
}
.work-item-btn {
  font-family: Montserrat;
  font-size: 10px;
  background-color: #ff4e50;
  border-radius: 40px;
  border: 2px solid #ff4e50;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 14px 3px;
}
/* PC, Tablet */
/* @media (min-width: 740px) {
  .work-layout {
      flex-direction: row;
  }
} */

/* Partners */
.section-title.text-center {
  font-size: 22px;
  text-align: center;
  margin: 80px 0px 34px;
  font-weight: 700;
  color: #444444;
  font-family: Montserrat;
}
.partners-container {
  display: flex;
  justify-content: center;
}
ul {
  list-style-type: none;
}
ul li img {
  border-radius: 50%;
}
img {
  vertical-align: middle;
  border-style: none;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* icon avartar */
.avatar img {
  display: block;
  max-width: 100%;
}
.avatar {
  width: 32px;
  height: 32px;
  object-fit: contain;
  border: 3px solid #ffffff;
  box-shadow: 0 0 2px #ffffff;
  background: #ff4e50;
}
.avatar:not(:first-child) {
  margin: -20px -38px -100px;
}

#partners {
  background: #ffffff;
}
ul.partners-content {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.partners-content li {
  /* padding: 0 30px; */
  /* padding: 10px; */
  flex-basis: 25%;
  text-align: center;
}
.partners-content li i {
  /* font-size: 50px; */
  color: #ffffff;
  margin-bottom: 25px;
  margin-top: 36px;
  padding: 12px 0 32px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.partners-content li h3 {
  font-size: 14px;
  font-weight: 700;
  display: block;
  margin: 4px 19px 14px;
  font-family: Montserrat;
}
.partners-content li p {
  /* margin: 0; */
  margin: 30px 0px 47px;
  font-weight: 300;
  color: #666666;
  font-size: 14px;
  font-family: Roboto;
  /* margin-bottom: 47px; */
}

.btn.btn-2 {
  font-family: Montserrat;
  color: #ff4e50;
  border: 2px solid #ff4e50;
  font-weight: bolder;
  border-radius: 40px;
  font-size: 14px;
  padding: 12px 43px;
  text-align: center;
  font-weight: 700;
  background: #ffffff;
  text-decoration: none;
}

.btn.btn-2:hover {
  background: #ff4e50;
  color: #ffffff;
  border: 2px solid #ff4e50;
}
@media (max-width: 1000px) {
  .partners-content li {
    flex-basis: 100%;
    margin-bottom: 65px;
  }
  .partners-content li:last-child {
    margin-bottom: 0;
  }
  .partners-content li p {
    padding: 0;
  }
}

/* Activity */
/* .container {
  padding: 10px;
  margin: 50px;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: stretch;
} */
.activity h1{
  margin-top: 75px;
  padding: 20px;
  flex-grow: 1;
}
.activity-container {
  max-width: 100vw;
  max-width:100%;
}
.activity-img {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.8;
  border: 0.5px;
  border-radius: 4px;
}
.activity-item {
  overflow: hidden;
  position: relative;
}
.activity-1 {
  color: #ffffff;
  text-shadow: 1px 1px 15px #ffffff;
}
.activity-item-title {
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 35%;
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* flex */
.flex-activity {
  margin: 15px 80px 30px;
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: stretch;
  background-color: white;
  /* width: 300px;
  height: 310px; */
}
.activity-item img {
  /* width: 300px;
  height: 300px; */
  display: inline-block;
  margin: 10px;
}

/* .flex-container > div {
  margin: 10px;
} */

/* Contact */
.contact h1 {
  font-size: 22px;
  font-weight: 700;
  color: #444444;
}
.contact-title p {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}
.contact__form {
  text-align: center;
  font-weight: 700;
  margin: 25px 0px 50px;
}
input {
  font-size: 14px;
  border: 1px solid #d4d4d4;
  padding: 14px 160px 10px 15px;
  border-radius: 3px;
}
.btn-2 {
  font-size: 14px;
  padding: 12px 45px;
  background-color: #ff4e50;
  color: #ff4e50;
  border: 2px solid #ff4e50;
  border-radius: 40px;
  color: #ffffff;
  margin: 10px;
}
.btn-2:hover {
  background: #24a5c5;
  border: 2px solid #24a5c5;
  transition: 0.5s;
}

/* hr */
hr {
  border: 2px solid #ff4e50;
  /* margin-bottom: 100px;  */
  /* margin-bottom: 38px; */
}

/* footer */
.container {
  /* max-width: 1170px; */
  margin: auto;
}
.footer-col-title {
  color: #ff4e50;
  font-weight: 400;
  font-size: 14px;
  font-family: Montserrat;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
ul{
  /* list-style: none; */
  margin-left:-40px;
}
.footer {
  background-color: #ffffff;
  padding: 38px 0;
}
.footer-col {
  /* width: 25%; */
  padding: 0 15px;
  margin: 15px;
}
.footer-col h4 {
  font-size: 14px;
  color: #444444;
  text-transform: capitalize;
  margin-bottom: 11px;
  font-weight: 700;
  position: relative;
  font-family: Montserrat;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 14px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col-bold{
  font-weight: 700;
  font-size: 14px;
  color: #cccccc;
  font-weight: 700;
  font-size: 10px;
  margin-left: 36px;
  /* width: 110px; */
  /* display: inline-block; */
}
.footer-col-bold img{
  display: block;
  
}


/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}


