.section-contact.text-center {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  padding: 43px;
  color: var(--light-black);
}

.text-center {
  font-size: 22px;
  font-weight: 700;
  color: var(--light-black);
  text-align: center;
}

.contact-title p {
  font-family: "Roboto";
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: var(--dim-gray);
}

.contact-form {
  text-align: center;
  font-weight: 700;
  margin: 25px 0px 50px;
}

.text-contact {
  font-family: 'Roboto';
  font-size: 14px;
  border: 1px solid var(--light-gray);
  padding: 14px 160px 10px 15px;
  border-radius: 3px;
}

.btn-contact {
  font-size: 14px;
  padding: 12px 45px;
  background-color: var(--red);
  color: var(--red);
  border: 2px solid var(--red);
  border-radius: 40px;
  color: var(--white);
  margin: 10px;
  text-decoration: none;
}

.btn-contact:hover {
  background: var(--light-turquoise);
  border: 2px solid var(--light-turquoise);
  transition: 0.5s;
}

hr {
  border: 2px solid var(--red);
}

/* Tablet Portrait */
@media (min-width: 768px) and (max-width: 1023px) {
  /* .section-contact.text-center {
    margin: 60px 0 40px;
  } */
}

/* Mobile Portrait */
@media (max-width: 739px) {
  .section-contact.text-center {
    padding: 0 55px;
    margin: 35px 0 9px;
    width: 70%;
  }

  .btn-contact {
    width: calc(100% - 40px);
  }
}
