.main-header {
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  background-image: url("../assets/images/background.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 30px;
  font-size: 20px;
}

.main-nav__brand {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  margin-left: 110px;
  color: var(--white);
  cursor: pointer;
}

.main-nav__listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  font-weight: 400;
  margin: 0 140px;
}

.main-nav__item {
  word-wrap: normal;
  list-style: none;
  padding: 8px 9px;
  color: var(--white);
  text-decoration: none;
  font-size: 14px;
}
/* 
.main-nav__item:hover{
  border: 1px solid var(--red);
  background: var(--red);
  transition: 0.5s;
} */

/* .text-uppercase {
  text-transform: uppercase;
  text-decoration: none;
} */

.main-nav .login {
  color: var(--white);
  text-decoration: none;
  font-size: 14px;
}

.main-nav__item .signup {
  color: var(--white);
  text-decoration: none;
  font-size: 14px;
  border: 2px solid var(--white);
  padding: 10px 17px 9px 18px;
  border-radius: 40px;
}

/* content */
.main-header__content {
  /* width: 100%; */
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
}

.main-header__title {
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--white);
  width: 500px;
  text-transform: uppercase;
}

.main-header__desc {
  font-family: Roboto;
  margin: 35px auto 47px;
  font-size: 24px;
  color: var(--pale-white);
  font-weight: 300;
  letter-spacing: 1px;
}

.btn {
  text-decoration: none;
  letter-spacing: 1px;
}

.btn.btn-info {
  color: var(--white);
  background: var(--red);
  border-radius: 40px;
  border: 1px solid var(--red);
  padding: 12px 38px;
  font-size: 14px;
  font-weight: 700;
  width: fit-content;
  margin: 0 auto;
}

.btn.btn-info:hover {
  border: 1px solid var(--light-turquoise);
  background: var(--light-turquoise);
  transition: 0.5s;
}

/* Tablet Portrait */
@media (max-width: 1023px) {
  .main-header {
    height: 700px;
    margin: 0 auto;
    min-height: 0;
  }

  .main-nav {
    padding: 45px;
  }

  .main-nav__brand {
    margin-left: 0;
  }

  .main-nav__listItem {
    margin: 0;
  }
}

/* Mobile Portrait */
@media (max-width: 739px) {
  .main-header {
    height: 540px;
    margin: 0 auto;
    min-height: 0;
  }

  .main-nav {
    flex-direction: column-reverse;
    gap: 130px;
  }

  .main-nav__brand {
    margin: 0;
  }

  .main-nav__listItem {
    margin: 0;
  }

  .main-header__content {
    font-size: 18px;
    margin: 0 auto 47px;
    height: 25px;
  }

  .main-header__title {
    font-size: 30px;
    width: 395px;
  }

  .main-header__desc {
    width: 70%;
    font-size: 18px;
    line-height: 16px;
  }

  .btn.btn-info {
    display: block;
    margin: 0 40px;
    width: auto;
  }
}
