:root {
  /* color */
  --white: #ffffff;
  --matte-white: #f2f2f2;
  --gray-White: #e3e3e3;
  --red: #ff4e50;
  --black: #000;
  --light-turquoise: #24a5c5;
  --light-black: #444444;
  --light-green: #19d4ca;
  --light-yellow: #ffa710;
  --light-blue: #667df3;
  --gray: #cccccc;
  --light-gray: #d4d4d4;
  --dim-gray: #666666;
  --dark-gray: #999999;
  --pale-white: #f7f3f2;

  /* font-size */
  --font-size-xsm: 10px;
  --font-size-sm: 12px;
  --font-size-xmd: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xlg: 20px;
  --font-size-2xlg: 22px;
  --font-size-3xlg: 40px;
  --font-size-4xlg: 46px;
  --font-size-5xl: 52px;
}

* {
  font-family: Montserrat;
}
