/* Desktop */
.container {
  max-width: 1440px;
  margin: auto;
}

/* Tablet */
@media screen and (max-width: 1023px) {
  .container {
    max-width: 1023px;
  }
}

/* mobile */
@media screen and (max-width: 739px) {
  .container {
    max-width: 739px;
  }
}
