:root {
  /* color */
  --white: #ffffff;
  --white-100: #f2f2f2;
  --white-200: #f7f3f2;
  --white-300: #e3e3e3;
  --red: #ff4e50;
  --light-turquoise: #24a5c5;
  --light-green: #19d4ca;
  --light-yellow: #ffa710;
  --light-blue: #667df3;
  --gray: #cccccc;
  --gray-100: #d4d4d4;
  --gray-200: #999999;
  --gray-300: #666666;
  --gray-400: #444444;
  --black: #000;

  /* font size */
  --font-size-xsm: 10px;
  --font-size-sm: 12px;
  --font-size-xmd: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xlg: 20px;
  --font-size-2xlg: 22px;
  --font-size-2xl: 24px;
  --font-size-3xl: 30px;
  --font-size-3xlg: 40px;
  --font-size-4xlg: 46px;
  --font-size-5xl: 52px;
}


