/* Partners */
.section-title.text-center {
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  margin: 80px 0px 34px;
  color: var(--title);
}

.partners-container {
  display: flex;
  justify-content: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.icon-avatar {
  width: 32px;
  height: 32px;
  object-fit: contain;
  border: 5px solid var(--white);
  box-shadow: 0 0 2px var(--white);
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 48px;
  border-radius: 50%;
  padding: 8px;
  width: 16px;
  height: 16px;
}

.partners-container li:nth-child(1) .partner-img img:nth-child(2) {
  background: var(--btn-red);
}

.partners-container li:nth-child(2) .partner-img img:nth-child(2) {
  background: var(--bg-icon-green);
}

.partners-container li:nth-child(3) .partner-img img:nth-child(2) {
  background: var(--bg-icon-yellow);
}

.partners-container li:nth-child(4) .partner-img img:nth-child(2) {
  background: var(--bg-icon-blue);
}

.partners-content {
  width: 940px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partners-content li {
  flex-basis: 25%;
  text-align: center;
}

.partner-img {
  position: relative;
  /* width: fit-content; */
}

.partner-img img:first-child {
  border-radius: 50%;
}

.partners-content li i {
  color: var(--white);
  margin-bottom: 25px;
  margin-top: 36px;
  padding: 12px 0 32px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.partners-content li h3 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  margin: 14px 19px 12px;
  display: block;
  text-align: -webkit-center;
}

.partners-content li p {
  font-weight: 300;
  color: #666666;
  font-size: 14px;
  font-family: Roboto;
  line-height: 14px;
  margin-bottom: 50px;
}

.content-box {
  text-align: center;
}

.content-box:first-child {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-content-box {
  color: var(--btn-red);
  border: 2px solid var(--btn-red);
  font-weight: bolder;
  border-radius: 40px;
  font-size: 14px;
  padding: 12px 43px;
  font-weight: 700;
  background: var(--white);
  text-decoration: none;
}

.btn-content-box:hover {
  background: var(--btn-red);
  color: var(--white);
  border: 2px solid var(--btn-red);
}

/* Tablet Portrait */
@media (min-width: 768px) and (max-width: 1023px) {
  .partners-content {
    width: 50%;
  }

  .partners-content li {
    flex-basis: 50%;
    flex-basis: calc(50% - 20px);
    gap: 20px;
  }

  .icon-avatar {
    right: 15px;
  }
}

/* Mobile Portrait */
@media (max-width: 739px) {

  .partners-content {
    flex-direction: column;
  }

  .partners-content li {
    flex-basis: 0;
  }

  .partners-content li p {
    margin: 0 42px 30px;
  }

  .partner-img {
    margin: 0 auto;
    width: fit-content;
  }

  .icon-avatar {
    right: 0;
  }

  .btn-content-box {
    display: block;
    margin: 20px;
  }
}
