body {
  font-family: 'Roboto', sans-serif;
}
*{
  margin:0;
  padding: 0;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: url(/images/background.png);
  background-position: center;
  background-size: cover;
  position: relative;
  /* height: 700px;
  width: 1440px; */
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
/* nav img{
  width: 150px;
} */
.nav-links{
  flex:1;
  text-align:right;
}
.nav-links ul li{
  font-family: Montserrat;
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
a.navbar-brand.text-uppercase {
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF!important;
  padding-left: 7em;
  font-size: bold;
  display: inline-block;
}
.text-uppercase {
  text-transform: uppercase;
  text-decoration: none;
}
.nav-links ul li a{
  color:#FFFFFF;
  text-decoration: none;
  font-size: 14px;
  margin: 1px;
}

a#signup{
  border: 2px solid #FFFFFF;
  padding: 10px 18px;
  border-radius: 40px;
}
.nav-links ul li::after{
  content:'';
  width: 0%;
  height: 2px;
  background:#ff4e50;
  display:block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
  background:#ff4e50;
  transition: 0.5s;
}

.content{
  font-family: Roboto;
  width: 90%;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  text-align: center;
}
.content h1{
  font-size: 52px;
  font-weight: 700;
}
.content p{
  margin: 15px 0 10px;
  font-size: 24px;
  color:#FFFFFF;
  font-weight: 300;
}
.partner-btn{
  display:inline-block;
  text-decoration: none;
  color:#FFFFFF;
  border: 1px solid #ff4e50;
  padding:12px 38px;
  font-size:14px;
  background:#ff4e50;
  position: relative;
  border-radius: 40px;
  cursor: pointer;
  font-weight: 700;
}
.partner-btn:hover{
  border: 1px solid #FFFFFF;
  background: rgb(185, 171, 171);
  transition: 0.5s;
}

.container{
  font-family: Montserrat;
}

/* work */
.work h1{
  font-size: 22px;
  font-weight: 700;
  Color:#444444;

}


/* Partners */
.partner-item {
  text-align: center;
}
.partners h1 {
  font-size: 22px;
  font-weight: 700;
  Color:#444444;
}
.partner-item h3 {
  font-size: 14px;
  font-weight: 700;
}
.partner-item p {
  font-weight: 300;
  color: #666666;
  font-size: 14px;
}
#partners img{
  border-radius: 50%;
}
img {
  vertical-align: middle;
  border-style: none;
}
.img-fluid{
  max-width: 100%;
  height: auto;
}
.btn.btn-2 {
  font-family: Montserrat;
  color: #FF4E50;
  border: 2px solid #FF4E50;
  font-weight: bolder;
  border-radius: 40px;
  font-size: 14px;
  padding: 12px 43px;
  text-align: center;
  font-weight: 700;
}

.btn.btn-2:hover{
  background:#FF4E50;
  color: #FFFFFF;
}

/* Activity */
.activity h1{
  font-size: 22px;
  font-weight: 700;
  Color:#444444;
}
.activity-container {
  max-width: 100vw;
}
.activity-img {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.8;
  border: 0.5px;
  border-radius: 4px;
}
.activity-item {
  overflow: hidden;
  position: relative;
}
.activity-1 {
  color: #FFFFFF;
  text-shadow: 1px 1px 15px #FFFFFF;
}
.activity-item-title {
  position: absolute;
  /* color: #242424; */
  top: 50%;
  left: 35%;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 600;
  text-decoration: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Contact */
.contact h1{
  font-size: 22px;
  font-weight: 700;
  Color:#444444;
}
.contact-title p{
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}
.contact__form{
  text-align: center;
  font-weight: 700;
}
.btn-2{
  font-size: 14px;
  padding: 12px 45px;
  background-color:#FF4E50;
  border-radius: 40px;
  color: #FFFFFF;
  
}

@media screen and (min-width: 576px){
    .activity-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
  }
}

@media (min-width: 992px){
  .container {
    max-width: 960px;
}
}

@media (min-width: 768px){
  .container {
    max-width: 720px;
}
}

@media (min-width: 576px){
  .container {
    max-width: 540px;
}
}




