.contact__section {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.contact__title-text {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  padding: 43px;
  color: var(--light-black);
}

.contact__request {
  font-family: "Roboto";
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: var(--dim-gray);
}

.contact__form {
  text-align: center;
  font-weight: 700;
  margin: 25px 0px 50px;
}

.contact__text {
  font-family: "Roboto";
  font-size: 14px;
  border: 1px solid var(--light-gray);
  padding: 14px 160px 10px 15px;
  border-radius: 3px;
}

.btn.btn-contact {
  font-size: 14px;
  padding: 12px 45px;
  background-color: var(--red);
  border: 2px solid var(--red);
  color: var(--white);
  margin: 10px;
}

.btn.btn-contact:hover {
  background: var(--light-turquoise);
  border: 2px solid var(--light-turquoise);
  transition: 0.5s;
}

/* Tablet Portrait */
@media screen and (max-width: 1023px) {
  .contact__section {
    margin-top: 0;
  }
}

/* Mobile Portrait */
@media screen and (max-width: 739px) {
  .contact__title-text {
    padding: 0 55px;
    margin: 35px 0 12px;
    width: 70%;
  }

  .contact__form {
    margin: 15px 0px 40px;
  }

  .btn.btn-contact {
    width: calc(100% - 40px);
  }
}
